<h1>Jobs</h1>

<ul class="nav nav-pills">
  <li class="<%= q_name_pill_class(nil)%>" >
    <a href="?"><%= "All (#{@queue_counts.inject(0){|sum,qc| qc.count.to_i + sum }})" %></a>
  </li>
  <% @queue_counts.each do |queue_count| %>
    <li class="<%= q_name_pill_class(queue_count.q_name) %>">
    <a href="?q_name=<%= queue_count.q_name %>"><%= "#{queue_count.q_name} (#{queue_count.count})" %></a>
    </li>
  <% end %>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% @column_names.each do |column_name| %>
        <th><%= column_name %></th>
      <% end %>
      <th>
        <form method="post" action="queue_classic_jobs/destroy_all" data-confirm="Are you sure?">
          <div><input value="Destroy All" type="submit"/></div>
        </form>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @queue_classic_jobs.each do |queue_classic_job| %>
    <tr>
      <% @column_names.each do |column_name| %>
        <td><%= queue_classic_job[column_name] %></td>
      <% end %>

      <td>
        <form method="post" action="queue_classic_jobs/<%= queue_classic_job.id %>/destroy" data-confirm="Are you sure?">
          <div><input value="Destroy" type="submit"/></div>
        </form>

        <% if queue_classic_job.locked_at %>
          <form method="post" action="queue_classic_jobs/<%= queue_classic_job.id %>/unlock" data-confirm="Are you sure?">
            <div><input value="Unlock" type="submit"/></div>
          </form>
        <% end %>
      </td>
  <% end %>
  </tbody>
</table>

<br />

