<h1>Jobs</h1>

<ul class="nav nav-pills">
  <li class="<%= q_name_pill_class(nil)%>" >
    <a href="?"><%= "All (#{@queue_counts.inject(0){|sum,qc| qc.count.to_i + sum }})" %></a>
  </li>
  <% @queue_counts.each do |queue_count| %>
    <li class="<%= q_name_pill_class(queue_count.q_name) %>">
    <a href="?q_name=<%= queue_count.q_name %>"><%= "#{queue_count.q_name} (#{queue_count.count})" %></a>
    </li>
  <% end %>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% @column_names.each do |column_name| %>
        <th><%= column_name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @queue_classic_jobs.each do |queue_classic_job| %>
    <tr>
      <% @column_names.each do |column_name| %>
        <td><%= queue_classic_job[column_name] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

