<h1>Details for job #<%= @queue_classic_job.id %></h1>
<%= @queue_classic_job.attributes.each do |attr, value| %>
  <p>
    <strong><%= attr %></strong>: <%= value %>
  </p>
<% end %>

<h2>Locks</h2>
<% if @locks.count == 0 %>
  There are no locks related.
<% end %>
<% @locks.each do |lock| %>
  <hr>
  <%= lock %>
<% end %>