<div id="search">
  <%= form_tag(url_for(params), method: 'GET') do %>
    <%= hidden_field_tag :q_name, params[:q_name] %>
    <input class="search-query" name="search" placeholder="Search jobs" value="<%= params[:search] %>"/>
  <% end %>
</div>

<ul class="nav nav-pills">
  <li class="<%= q_name_pill_class(nil)%>" >
    <a href="<%= index_path %>"><%= "All (#{@klass.count})" %></a>
  </li>
  <% @klass.queue_counts.each do |q_name, count| %>
    <li class="<%= q_name_pill_class(q_name) %>">
    <a href="<%= index_path(q_name: q_name) %>"><%= "#{q_name} (#{count})" %></a>
    </li>
  <% end %>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <%= sortable_column :queue_name, "Queue" %>
      <%= sortable_column :id, "ID" %>
      <%= sortable_column :created_at, "Enqueued At" %>
      <%= sortable_column :locked_at, "Locked At" %>
      <%= sortable_column :locked_by, "Locked By" %>
      <%= sortable_column :method, "Method" %>
      <%= sortable_column :args, "Arguments" %>
      <% if @klass.columns_hash['not_before'] %>
        <th>Run At</th>
      <% end %>
      <% @klass.extra_columns.each do |column| %>
        <%= sortable_column column, column.titleize %>
      <% end %>
      <th>
        <%=
          link_to "Destroy Matching", url_for(params.merge(action: 'destroy_all')), class: 'btn btn-danger', data: {confirm: "Are you sure?", method: :delete}
        %>
        <% unless later? %>
          <%=
            link_to "Unlock Matching > 5 mins", url_for(params.merge(action: 'unlock_all')), class: 'btn btn-danger', data: {confirm: "Are you sure?", method: :put}
          %>
        <% end %>
        <% QueueClassicAdmin.custom_bulk_actions.each do |slug, action| %>
          <%= link_to action.name, bulk_custom_action_queue_classic_jobs_path(params.merge(custom_action: slug)), class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @queue_classic_jobs.each do |queue_classic_job| %>
    <tr>
      <td><%= queue_classic_job.q_name  %></td>
      <td><%= link_to queue_classic_job.id, queue_classic_job  %></td>
      <td>
        <% if queue_classic_job.respond_to?(:created_at) %>
          <%= time_ago_in_words queue_classic_job.created_at %>
          <br/>
          <small>
            (<%= queue_classic_job.created_at %>)
          </small>
        <% else %>
          &mdash;
        <% end %>
      </td>
      <td>
        <% if queue_classic_job[:locked_at].nil? %>
          &mdash;
        <% else %>
          <%= time_ago_in_words queue_classic_job.locked_at %>
          <br/>
          <small>
            (<%= queue_classic_job.locked_at %>)
          </small>
        <% end %>
      </td>
      <td>
        <%= queue_classic_job[:locked_by] %>
      </td>
      <td><%= queue_classic_job.method  %></td>
      <td><%= queue_classic_job.arguments.inspect%></td>
      <% if @klass.columns_hash['not_before'] %>
        <td><%= queue_classic_job.not_before %></td>
      <% end %>

      <% @klass.extra_columns.each do |column| %>
        <td><%= queue_classic_job[column] %></th>
      <% end %>

      <td>
        <%= link_to 'Details', queue_classic_job_path(queue_classic_job), class: 'btn btn-info' %>
        <%= link_to 'Destroy', queue_classic_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% if queue_classic_job[:locked_at] %>
          <%= link_to 'Unlock', unlock_queue_classic_job_path(queue_classic_job), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>

        <% QueueClassicAdmin.custom_actions.each do |slug, action| %>
          <%= link_to action.name, custom_queue_classic_job_path(queue_classic_job, custom_action: slug), method: :post, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @queue_classic_jobs, renderer: BootstrapPagination::Rails %>

<br />


